@{
    ViewBag.Title = "About";
}
<h1 class="margin-top-70">@ViewBag.Title.</h1>
<h3>@ViewBag.Message</h3>

<h4>
    This is simply a demonstration of ability and initiative, 
    in the hopes of gaining employment with The American Society of Mechanical Engineers.
</h4>
<span class="codeavail">
    <strong>Code available at: </strong>
    <a target="_blank" href="http://github.com/josedelavalle/asme">
        <i class="fa fa-github pointer-hover"></i>&nbsp;
        github.com/josedelavalle/asme
    </a>
</span>