@{
    ViewBag.Title = "Say hello";
}
<h2 class="margin-top-70">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Basking Ridge, NJ 07920<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:19082562155">908.256.2155</a>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:me@josedelavalle.com">me@josedelavalle.com</a><br />
    <strong>Portfolio:</strong> <a target="_blank" href="http://portfolio.josedelavalle.com">My Online Portfolio</a>
</address>