@{
    ViewBag.Title = "Jose DeLavalle";
}

<div id="home">
    
    @{Html.RenderPartial("Jumbotron");}
    
    <div id="content" ng-init="showcard=1">
        @{Html.RenderPartial("TabMenu");}
        @{Html.RenderPartial("TopicSection");}
        @{Html.RenderPartial("ProductSection");}
        @{Html.RenderPartial("EventSection");}
        
    </div>
   
    <md-button class="back-to-top margin-0 margin-top-10 md-raised md-button md-ink-ripple" aria-label="Scroll To Top" ng-click="scrollTo('#home')">
        <span class="fa fa-chevron-up"></span>
    </md-button>
    
</div>
