<div ng-if="showcard==2" class="card-section" ng-class="{'padding-0': isMobile}">
    <div class="row cards">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="item in products">
            <product-card itemid="item"></product-card>
        </div>
    </div>
</div>
